
    <div class="nav-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="#"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                {{!-- <i class="fas fa-bars"></i> --> --}}
                                <!--  <span class="navbar-toggler-icon"></span> -->
                            <!-- </button>
                            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Story <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Dashboard</a>
                                    </li>
                                </ul>
                            </div> -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-img " >
            <img src="images/banner-illustration.svg" class="img-fluid img-banners animate__animated animate__zoomIn" alt="#">
            <!-- Main Title -->
            <div class="main-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="hero-title animate__animated animate__zoomIn">
                                <p>Yuk Bikin Cerita di D'story</p>
                                  <h1>Dari Kamu Untuk Mereka</h1>
                                 <h4>segalanya adalah cerita</h4>
                                <a  href="/auth/google"data-toggle="modal" data-target="#contactmodal" class="btn btn-danger">login dengan Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Title -->
        </div>
<div class="space bg-image">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center-title">
                                <h2>Apa itu D'story</h2>
                                <p>Mau tau lebih dalam cara kerja aplikasi D'story</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-7 ml-auto">
                            <div class="insurance-title_wrap">
                                <h5>Your original story could be the next big hit</h5>
                                <h6>bikin cerita keren dan jadilah terkenal </h6>
                                <p class="insurance-para">Tulis apapun hal-hal yang kamu inginkan karena ide bisa datang dari mana saja dan kapan saja, termasuk dari orang-orang di sekeliling kamu. Dan jadikanlah sebuah cerita yang unik dan keren.</p>
                                <div class="insurance-type d-flex align-items-center">
                                    <img src="images/tick.png" alt="#">
                                    <div class="insurance-type_title">
                                        <h6>Ciptakan</h6>
                                        <p>Bagikan kisah unik dan orisinal Kamu di D'story. Temukan Ide-ide dan sumbar daya menulis yang Kamu butuhkan untuk menyusun cerita Anda</p>
                                    </div>
                                </div>
                                <div class="insurance-type d-flex align-items-center">
                                    <img src="images/tick.png" alt="#">
                                    <div class="insurance-type_title">
                                        <h6>Buat</h6>
                                        <p>Buat basis penggemar global saat cerita kamu mendapatkan pembaca dan momentum. Terhubung dengan penulis lain yang berpikiran sama melalui Cerita</p>
                                    </div>
                                </div>
                                <div class="insurance-type d-flex align-items-center">
                                    <img src="images/tick.png" alt="#">
                                    <div class="insurance-type_title">
                                        <h6>Perkuat</h6>
                                        <p>
                                            Dapatkan status D'story Star dan terbitkan ceritamu</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-img-2">
                    <img src="images/health-family-illustration.svg" width="978" class="img-fluid" alt="#">
                </div>
            </div>

